<section class="section publications-section">
  <!--<h2 class="section-title"><i class="fa fa-archive"></i>Publications</h2>-->
  <h2 class="section-title">Honors and Awards</h2>

  <div class="table"> 

    <!-- Naver D2 -->
    <div class="table-row">
      <div class="thumbnail-cell">
        <img class="thumbnail" src="{{site.baseurl}}/assets/images/mosaicer-thumbnail.png" alt="thumbnail"/>
      </div>
      <div class="description-cell">
        <span class="title">
            Mosaicer: Automatic Pixelation of Untargeted Faces on Videos
          </a>
        </span><br>
        <span class="summary">
          Suekyeong Nam, Seongah Jo<br>
          Grand Prize, NAVER crop.<br>
          <a href="https://github.com/seongahjo/Mosaicer" target="_blank">Code</a> | 
          <a href="https://www.youtube.com/watch?v=c5qYdZi6Dpk" target="_blank">Demo video</a> | 
          <a href="{{site.baseurl}}/assets/files/mosaicer.pdf" target="_blank">Slides</a>
        </span>
      </div>
      <div class="description-cell">
        <span class="title">
            Superiority Scholarship(Merit-based)
          </a>
        </span><br>
        <span class="summary">
          Kyung Hee University, 08/2014–02/2015<br>
        </span>
      </div>
    </div>

  </div>

  <!--
  <div class="item">
    <span class="title">
    </span><br>
    <span class="description">

    </span>
  </div>

  <div class="item">
    <img class="thumbnail" src="{{site.baseurl}}/assets/images/scene-completion-thumbnail.png" alt="thumbnail" />

  </div>
  -->

</section><!--//section-->
