<section class="section publications-section">
  <!--<h2 class="section-title"><i class="fa fa-archive"></i>Publications</h2>-->
  <h2 class="section-title">Human Body Related Research Experiences</h2>

  <div class="table"> 

    <!-- Color correction -->
    <div class="table-row">
      <div class="description-cell">
        <span class="title">
            Action Recognition Methods Effective for Both Spatial and Temporal Features
          </a>
        </span><br>
        <span class="summary">
          <img src="{{site.baseurl}}/assets/images/icpr20-thumbnail.png" align="left" style="width: 300px; height: auto;"/>
        </span><br>
        <span class="summary">
          - Started with extracting spatial and temporal features related to symmetrical movement only first.This method manually calculated the features along the spatial-temporal axis from 2D motion textures that are transformed from 3D skeleton data.</br>
          - The follow-up work used CNN and LSTM to extract a variety of both spatial and temporal features. CNN Autoencoder reduced noise and dimensions on 2D motion textures. The compressed texture information enabled to utilize LSTM on images. Results published in 2018 SIGGRAPH Asia poster session. </br>
          - The last work used an adaptive graph structure instead of 2D motion textures, based on my observation of strong correlation between spatial and temporal features. Unlike prior work, this work
            generated inter-frame edges adaptively. Results will be published in ICPR 2020. </br>
        </span>
        
      </div>
    </div>

    <!-- Skin color segmentation -->
    <div class="table-row">
      <div class="thumbnail-cell">
        <img class="thumbnail" src="{{site.baseurl}}/assets/images/sigga18-thumbnail.png" alt="thumbnail"/>
      </div>
      <div class="description-cell">
        <span class="title">
            Evaluation of Gesture Recognition Algorithms for Embedded Devices
          </a>
        </span><br>
        <span class="summary">
          Compared, on an actual embedded AI computing device, the CNN-based algorithm that the project developed for 2D images against basic computer vision and other CNN-based algorithms.</br>
          <a href="{{site.baseurl}}/assets/files/skin.pdf" target="_blank">PDF</a>
        </span>
      </div>
    </div>
 

  </div>

  <!--
  <div class="item">
    <span class="title">
    </span><br>
    <span class="description">

    </span>
  </div>

  <div class="item">
    <img class="thumbnail" src="{{site.baseurl}}/assets/images/scene-completion-thumbnail.png" alt="thumbnail" />

  </div>
  -->

</section><!--//section-->
