<div class="profile-container">
  <img class="profile-img" src="{{site.baseurl}}/assets/images/profile.png" alt="profile picture" />
  <h1 class="name">{{site.name}}</h1>
  <h3 class="tagline">
    Research Intern<br>
    <a href="https://www.navercorp.com" target="_blank">NAVER Corp</a><br>
  </h3>
</div><!--//profile-container-->

<div class="about-container">
  <section class="section summary-section">
    <h2 class="section-title">About Me</h2>
    <div class="summary">
      <h3 class="icon">
	<i class="ai ai-cv-square ai-1x"></i>  <a href="{{site.baseurl}}/{{site.cv}}" target="_blank">CV</a> &nbsp; | &nbsp;
        <i class="fa fa-globe"></i> <a href="https://reading-cv-paper.tistory.com/"> Blog </a>&nbsp; | &nbsp;
        <i class="fa fa-envelope"></i> <a href="mailto: {{site.email}}">sk.nam@kist.re.kr</a>
      </h3>
      <p>
      I'm a Research Intern at <a href="https://www.navercorp.com" target="_blank">NAVER Corp</a>. I received my MS and BS degrees in <a href="https://ce.khu.ac.kr" target="_blank">Computer Science and Engineering</a> department at <a href="https://www.khu.ac.kr/" target="_blank">Kyung Hee University</a> in South Korea advised by <a href="http://cvlab.khu.ac.kr" target="_blank">Seungkyu Lee</a>. My research focuses on 3D human pose estimation and capturing 3D human pose data at a motion capture studio.
      </p>
    
      <!--
      <div class="icon">
      <i class="fa fa-file-pdf-o"></i>  <a href="https://{{site.research_statement}}" target="_blank">Research Statement</a>
      </div>
      -->
    </div><!--//summary-->
  </section><!--//section-->
  <hr>
</div><!--//about-container-->
