<section class="section projects-section">
  <!--<h2 class="section-title"><i class="fa fa-archive"></i>Publications</h2>-->
  <h2 class="section-title">Projects</h2>

  <div class="table"> 

    <!-- icpr 20' -->
    <div class="table-row">
      <div class="thumbnail-cell">
        <img class="thumbnail" src="{{site.baseurl}}/assets/images/icpr20-thumbnail.png" alt="thumbnail"/>
      </div>
      <div class="description-cell">
        <span class="title">
          <a href="https://" target="_blank">
            (In-press)JT-MGCN: Joint-temporal Motion Graph Convolutional Network for Skeleton-Based Action Recognition
          </a>
        </span><br>
        <span class="summary">
          <b>Suekyeong Nam</b>, Suengkyu Lee<br>
          IEEE International Conference on Pattern Recognition (ICPR) 2020<br>
          <a href="{{site.baseurl}}/assets/files/icpr20.pdf" target="_blank">PDF</a>
        </span>
      </div>
    </div>
 
    <!-- sigga asia 18' -->
    <div class="table-row">
      <div class="thumbnail-cell">
        <img class="thumbnail" src="{{site.baseurl}}/assets/images/sigga18-thumbnail.png" alt="thumbnail"/>
      </div>
      <div class="description-cell">
        <span class="title">
          <a href="https://dl.acm.org/doi/10.1145/3283289.3283334" target="_blank">
            Motion regeneration using motion texture and autoencoder
          </a>
        </span><br>
        <span class="summary">
          <b>Suekyeong Nam</b>, Seungkyu Lee<br>
          SIGGRAPH Asia 2018 (Poster Session)<br> 
          <a href="{{site.baseurl}}/assets/files/sigga18.pdf" target="_blank">PDF</a>
        </span>
      </div>
    </div>

  </div>

  <!--
  <div class="item">
    <span class="title">
    </span><br>
    <span class="description">

    </span>
  </div>

  <div class="item">
    <img class="thumbnail" src="{{site.baseurl}}/assets/images/scene-completion-thumbnail.png" alt="thumbnail" />

  </div>
  -->

</section><!--//section-->
